{% extends "base.html" %}
{% block content %}
<h1>Peck that lasts, to whatever wall you want</h1>
<p>What is the result when the social media is owned by those
who created the content?</p>
<p>Whit lack of any clue, peck.to was materialized to answer
just what happens. Take part in the evolution of data and
social interactions. Let the data of the world organize itself.</p>
<h2>What is a peck?</h2>
<p>Insted of uploading your data to a central server, peck.to
allows you to upload your data directly to BitCoin, where the
ownership is 100% yours and the data stored forever.</p>
<h3>Take ownership</h3>
<p></p>
<h3>Store your data forever</h3>
<p>For a penny, you can peck to any wall you like and have it
stored forever. This is made possible by using BitCoin as a
server where the data is stored forever.</p>
<h2>What is a wall?</h2>
<p>A wall is like a common folder for everyone if you look at
bitcoin as a computer. Everyone have acces to the folder, but
content in the folder can be encrypted.</p>
{% endblock %}
